.container
	p.header
		text-align: center
		margin: 0
		font-size: 130%

.resultsRow
	display: flex
	flex: 1 1 0
	justify-content: space-around
	p
		text-align: center
		border: lightgray 1px solid
		padding: 1rem