@import 'colors'
@import 'dimensions'

.resultsRow
	display: flex
	margin: 1rem 0 1rem 0
	opacity: 0
	transition: opacity ease-in 1.5s
	p
		text-align: center
		flex: 1 1 0
		margin: 0
		min-height: $resultsDisplayHeight
		font-weight: bolder
		line-height: 1.6
		font-size: large
		&:not(:last-child)
			margin-right: .5rem
		small
			color: $light-color

.visible
	color: black
	opacity: 1
